<!DOCTYPE html>
<html>
<head>
	<title>NightFall</title>
	<!-- Responsive -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<!-- Logo -->
	<link rel="icon" type="icon/png" href="assets/logo.png">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	