<%- include("partials/homeheader.ejs"); -%>
<%- include("script.ejs") -%>
<%- include("search.ejs"); -%>
<div class="jumbotron jumbotron-fluid d-flex align-items-center mx-auto my-5">
  <div class="container text-center">
    <h1 class="display-4">Oops!!</h1>
    <p class="lead">Nothing's here!!</p>
    <p class="lead">Try entering complete City/Country Name.</p>
  </div>
</div>
<%- include("partials/homefooter.ejs"); -%>